.audio-player {
    position: fixed; /* Posisi mengikuti scroll */
    bottom: 20px; /* Jarak dari bawah */
    right: 20px; /* Jarak dari kanan */
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Latar belakang semi-transparan */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .play-pause-button {
    background: none;
    border: none;
    font-size: 24px; /* Ukuran ikon */
    cursor: pointer;
    margin-left: 10px; /* Jarak antara teks dan ikon */
  }